@{
    ViewBag.Title = "Request Submitted";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center shadow">
                <h4 class="alert-heading">Request Submitted Successfully</h4>
                <p>Your request has been received. We will contact you via email shortly.</p>
            </div>
        </div>
    </div>
</div>
